#naver_input{
    background: url("../img/naver_logo_icon.png") no-repeat;
    background-size: 56px;
    position: absolute;
    top: 160px;
    z-index: -1;
    width: 530px;
    height: 19px;
    left: 6%;
    padding: 14px 0;
    border: 1px solid rgb(81, 187, 30);
    border-radius: 36px;
    background-color: white;
    left: 50%;
    transform: translate(-50%, 0%);
}
#naver_input::placeholder{
    font-size: 19px;
    text-indent: 60px;
    color: rgb(209, 208, 208);
}

#naver_mic_icon{
    float: right;
    background-color: rgb(81, 187, 30);
    border-top: 2px solid  rgb(81, 187, 30);
    border-bottom: 2px solid  rgb(81, 187, 30);
    border-right: 2px solid  rgb(81, 187, 30);
    top: 169px;
    right: 18%;
    width: 36px;
    height: 30px;
}