.naver_input_line{
    background: url(../img/naver_logo_icon.png) no-repeat;
    background-size: 56px;
    display: block;
    width: 462px;
    padding: 12px 20px;
    border: 1px solid rgb(81, 187, 30);
    border-radius:30px ;
    background-color: white;
    margin: auto;
}
#naver_input{
    display: flex;
    margin-left: 40px;
    width: 350px;
    line-height: 22px;
    border: 0px;
}
#naver_input::placeholder{
    font-size: 18px; 
    color: rgb(209, 208, 208);
}

#naver_mic_icon{
    position: absolute;
    top: 168px;
    margin-left: 429px;
    background-color: rgb(81, 187, 30);
    width: 36px;
   
}

span {
    display: inline-block;
    font-size: 2px;
}