.naver_middle_line{
    padding-top: 50px;
    text-align: center;
    padding-bottom: 20px;
}
#naver_adver_img{    
    width: auto;
    height: 115px;
    box-shadow: 10px 0px 10px gray;
}

.naver_middle_line2{
    display: block;
    border: 1px solid rgb(230, 230, 230);
    background-color: white;
    border-radius: 8px;
    width: 380px;
    padding:20px 50px;
    margin: auto;
}
.naver_middle_line2 b{
    font-size: 18px;
}
#naver_weather_icon{
    position: absolute;
    margin-left: -42px;
    width: 50px;
}
.naver_weather_text{
    margin-left: 20px;
}
.naver_weather_text div{
   font-size: 14px;
   padding-top: 3px;
}
.ass{
    color: rgb(124, 192, 231);
}
.naver_search_text{
    padding-top: 20px;
    width: 370px;
    text-align: center;
    color: rgb(131, 131, 131);
}
#search_me_text{
    position: absolute;
    margin-left: 210px;
    width: 100px;
    height: 20px;
    color: rgb(131, 131, 131);
    background: url(../img/naver_search_icon.png) no-repeat;
    background-size: 18px;
    background-position: 80px;
    font-size: 14px;
}
